<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Créer un utilisateur</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nom</label>
                                        <input type="text" id="nom" [(ngModel)]="cred.nom" class="form-control" placeholder="Nom" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Prénom</label>
                                        <input type="text" id="prenom" [(ngModel)]="cred.prenom" class="form-control" placeholder="Prénom" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" id="email" [(ngModel)]="cred.email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Mot de passe</label>
                                        <input type="password" id="password" class="form-control" [(ngModel)]="cred.password" placeholder="Mot de passe" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Role</label>
                                        <select class="form-control custom-select col-md-3" [(ngModel)]="cred.role" id="inlineFormCustomSelect">
                                            <option selected value="..">Choose...</option>
                                            <option value="ADMIN">Admin</option>
                                            <option value="TEACHER">Enseignant</option>
                                            <option value="AGENT">Agent de tirage</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" (click)="submit()" class="btn btn-info btn-fill pull-right">Créer profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                    </div>
                    <div class="content" style="text-align: center;">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/user.jpg" alt="..."/>

                                <h4 class="title">{{cred.nom}} {{cred.prenom}}<br />
                                    <small>{{cred.email}}</small>
                                </h4>
                            </a>
                        </div>
                        {{cred.role}}
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
