<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Striped Table with Hover</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableData1.dataRows">
                                        <td *ngFor="let cell of row"><div [innerHTML]="cell"></div></td>
                                        <td class="m-action-buttons">
                                            <div class="m-edit" (click)="editUser(row[0])"><i class="pe-7s-edit"></i></div>
                                            <div class="m-delete" (click)="deleteUser(row[0])"><i class="pe-7s-trash"></i></div>
                                            <div class="m-stop" (click)="editUser(row[0])"><i class="pe-7s-close-circle"></i></div>
                                        </td>
                                    </tr>
                                </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
